@media screen and (max-width:676px) {
    body {
        overflow-x: hidden;
    }

    .common-width {
        width: 90%;
    }

    .primary-color-btn {
        border: none;
        border-radius: 20px;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 600;
        color: #ffff;
        background-color: #E6533C;
        white-space: nowrap;
    }

    .common-title {
        font-size: 36px;
        font-weight: 700;
    }

    nav {
        margin: 20px auto;
    }

    nav div {
        display: none;
    }

    nav a {
        padding: 0;
    }

    .hamburg {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    .banner-info-box {
        width: 100%;
    }

    .banner-info-box h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 50px;
    }

    .banner-btn-box {
        display: flex;

    }



    .banner-download-btn {
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 600;
        color: #ffff;
        background-color: black;
        margin-left: 14px;
        white-space: nowrap;
    }


    .banner-img-box {
        width: 90%;
    }

    .banner-img-box img {
        width: 100%;
    }

    .upper-badge {
        width: 30%;
        border-radius: 12px;
        padding: 12px;
        top: 120px;
        right: 10px;
    }

    .upper-badge h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .upper-badge p {
        font-size: 8px;
        white-space: nowrap;
    }


    .low-badge {
        width: 30%;
        padding: 14px 39px;
        border-radius: 12px;
        position: absolute;
        bottom: 75px;
        left: 20px;
        white-space: nowrap;
    }

    .low-badge h3 {
        font-size: 18px;
        font-weight: 600;
    }

    .low-badge .circle {
        width: 30px;
        height: 30px;

    }

    .circle i {
        display: block;
        padding: 0 8px;
    }


    .change-habit-intro {
        width: 100%;
        text-align: center;
    }

    .circle-card-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .extra-mile-box {
        flex-direction: column;
        padding: 20px;
    }

    .extra-run-info {
        width: 100%;
        padding: 0;
    }

    .run-image-box {
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }

    .extra-run-info button {
        margin-top: 10px;
        width: 100%;
    }

    .nutrition-box {
        flex-direction: column;
        padding: 20px;
    }

    .nutrious-food-img {
        width: 100%;
    }

    .nutrious-food-img img {
        width: 100%;
        margin-left: 0px;
        box-sizing: border-box;
        border-radius: 18px;
    }

    .nutrious-info-box {
        width: 100%;
        margin-right: 0px;
    }

    .nutrious-info-box button {
        width: 100%;
    }

    .bmi-content-box {
        flex-direction: column;
        gap: 70px;
    }

    table {
        width: 100%;
    }


    table th {
        padding: 10px;
    }

    table td {
        padding: 10px;
    }

    .form-part form {
        margin-bottom: 14px;
    }

    .form-part button {
        width: 100%;
    }

    .our-team-title {
        width: 100%;
    }

    .trainer-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .trainer-name {
        font-size: 18px;
        font-weight: 600;
    }

    .footer-content {
        flex-direction: column;
        gap: 50px;
    }

    #right-reservation {
        white-space: nowrap;
        font-size: 14px;
    }

    .footer-common-title {
        margin: 0;
    }
}