/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* miama font link  */
@import url('https://fonts.cdnfonts.com/css/miama');

.miama-font {
    font-family: 'Miama', sans-serif;
}

/* common styles zone  */

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.common-width {
    max-width: 1060px;
    width: 77%;
}

.primary-color {
    color: #E6533C;
}

.description-color {
    color: #FFFFFF80;
}

button {
    cursor: pointer;
}

.primary-color-btn {
    border: none;
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    background-color: #E6533C;
}

.common-title {
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0;
}

.common-paragraph {
    font-size: 14px;
    color: #FFFFFF80;
    margin: 14px 0 0 0;
}


/* nav section styles  */

nav {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 20px;
}

nav>a {
    font-weight: 800;
    font-size: 36px;
}

nav div>a {
    margin-right: 27px;
    color: #ffff;
}

nav div a:hover {
    border-radius: 46px;
    padding: 8px 20px;
    background-color: #E6533C;
    color: #ffff;
    font-weight: 600;
    transition: background-color 0.5s linear;
}

.hamburg {
    color: #ffff;
    display: none;
}

/* banner section styles  */

.banner {
    margin: 97px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info-box {
    width: 50%;
}


.banner-info-box h1 {
    font-size: 78px;
    font-weight: 900;
    color: #ffff;
    line-height: 120%;
    margin: 0;
}

.banner-info-box>h1>span {
    font-size: 1.50em;
    font-weight: 400;
}


.banner-info-box p {
    margin: 28px 0;
}

.banner-download-btn {
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    background-color: black;
    margin-left: 14px;
}

.banner-img-box {
    position: relative;
}


/* badges styles  */
.upper-badge {
    width: 40%;
    border-radius: 12px;
    padding: 17px 24px;
    background-color: #FFFFFF3A;
    position: absolute;
    top: 130px;
    right: -70px;
}

.upper-badge h2 {
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0;
}

.upper-badge p {
    color: #FFFFFFA6;
    font-size: 13px;
    margin: 0;
}


.low-badge {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #3030308A;
    padding: 20px 23px;
    border-radius: 12px;
    position: absolute;
    bottom: 75px;
    left: -100px;
}

.low-badge h3 {
    color: #FAFAF9;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.low-badge .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    color: #FAFAF9;
    display: none;
}


/* change habit styles  */
.change-habit-box {
    margin: 50px auto;
}

.change-habit-intro {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.change-habit-card-title {
    color: #FFFFFF;
    margin: 30px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.circle-card-box {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 40px;
}

.single-cirlce-card {
    text-align: center;
}

.single-card-description {
    margin: 8px;
    text-align: center;
}

.single-cirlce-card img {
    border: 1px solid #6d6d6b;
    border-radius: 50%;
}

/* extra mile run styles  */
.extra-mile-box {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 40px 0;
    border-radius: 18px;
}

.extra-run-info {
    width: 40%;
    padding: 0 55px;
}

.run-image-box {
    width: 40%;
    padding: 0 55px;
}

.run-image-box img {
    width: 100%;
    border-radius: 18px;
}

/* nutrition section styles  */
.nutrition-box {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    background-color: #222222;
    padding: 40px 0;
    border-radius: 18px;
    border: 1px solid rgb(44, 44, 43);
}

.nutrious-food-img {
    width: 40%;
}


.nutrious-food-img img {
    width: 100%;
    margin-left: 30px;
    box-sizing: border-box;
    border-radius: 18px;
}

.nutrious-info-box {
    width: 50%;
    margin-right: 30px;
}

.nutrious-info-box ol {
    text-align: justify;
}

/* BMI table styles  */

.BMI-parent {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #222222;
    padding: 52px 0;
}

.BMI-intro {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.bmi-content-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 170px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table th {
    color: #FFFFFF;
    font-weight: 500;
    border: 1px solid #FFFFFF1A;
    padding: 13px 70px 13px 18px;
    white-space: nowrap;
}

table td {
    color: #FFFFFF80;
    font-size: 14px;
    border: 1px solid #FFFFFF1A;
    padding: 13px 50px 13px 18px;
    white-space: nowrap;
}

.bmi-chart-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 30px;
}

.form-part {
    flex-grow: 1;
}

.height {
    grid-area: height;
}

.weight {
    grid-area: weight;
}

.age {
    grid-area: age;
}

.sex {
    grid-area: sex;
    position: relative;
}

.activity {
    grid-area: activity;
    position: relative;
}

.sex i {
    position: absolute;
    right: 15px;
    top: 13px;
    color: #999997;
}

.activity i {
    position: absolute;
    right: 15px;
    top: 13px;
    color: #999997;
}

.form-part form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "height height height weight weight weight"
        "age age age sex sex sex"
        "activity activity activity activity activity activity";
    gap: 12px;
    margin-bottom: 34px;
}

.form-part form input {
    background-color: #FFFFFF1A;
    padding: 13px 20px;
    color: #FFFFFF99;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
}

/* meet our team styles  */
.our-team-parent {
    margin: 80px auto;
}

.our-team-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.trainer-box {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.trainer-box div img {
    width: 100%;
    height: 272px;
    border-radius: 18px;
    opacity: 0.7;
}

.trainer-name {
    font-size: 18px;
    font-weight: 800;
    color: #FAFAF9;
    margin: 5px 0 0 0;
}

.single-trainer-box {
    position: relative;
}

.trainer-name-badge {
    position: absolute;
    left: 15px;
    bottom: 16px;
}

/* footer style  */
footer {
    margin: 30px auto;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.footer-title {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
}

.footer-common-title {
    font-size: 32px;
    font-weight: 700;
    color: #FAFAF9;
}

.get-start-items {
    padding: 0;
}

.get-start-items li a {
    text-decoration: none;
    font-size: 23px;
    color: #FFFFFF80;
}

.intro-box,
.get-started-box,
.get-help-box {
    width: 100%;
}

footer hr {
    margin: 70px 0 36px 0;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
}

#right-reservation {
    color: #FFFFFF80;
    font-size: 20px;
    text-align: center;
}